<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./resources/css/signup.css">
<link rel="stylesheet" href="./resources/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #1086B9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-top: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body style="background-image: url('resources/images/bg2.jpg');" >

<div data-ng-app="myApp">
<div data-ng-controller="UserController as ctrl">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1086B9  ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-left">
      			<li data-ng-if="currentUser.username">
				<a style="font-size:30px;cursor:pointer;"  onClick="openNav()">&#9776; open </a></li>
      			<li><a href="#/"><img alt="GS" src="resources/images/logo.png" height="50" width="60"></a></li>
      			<li><font style="font-size: 35xp"><a class="navbar-brand" style="color: #2103B6  ;" href="#/">
      			<strong>Discussion</strong></a></font></li>
   	  </ul>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

   	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      		
     		<li data-ng-show="currentUser.username">
     			<img data-ng-src="resources/images/{{currentUser.username}}.jpg" onerror="this.src='resources/images/adminpic.png'" class="img-circle" height="35" width="35"></li>
     		<li data-ng-show="currentUser.username">
				<a style="color: white" href="#/myProfile"> Welcome, {{currentUser.first_name}}</a></li>
			<li data-ng-show="!currentUser.username">
				<a style="color: white" href="#/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
			<li data-ng-show="currentUser.username">
				<a style="color: white" href="" data-ng-click = "ctrl.logout()"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
			<li data-ng-show="!currentUser.username">
				<a style="color: white" href="#/register"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
			 <li data-ng-show="currentUser.username">
          <a style="color: white;" class="dropdown-toggle" data-toggle="dropdown" href="">Chat<span class="caret"></span></a>
		 <ul class="dropdown-menu" data-ng-controller="FriendController">
            <li data-ng-repeat="f in friends">
            <table>
            	<tr>
            		<td width="15px">
            			<img data-ng-if="f.friendID==currentUser.username && f.userIsOnline=='Y'" src="resources/images/isOnline.png" height="10px" width="10px">
            			<img data-ng-if="f.userID==currentUser.username && f.friendisOnline=='Y'" src="resources/images/isOnline.png" height="10px" width="10px">
            			
            			<img data-ng-if="f.friendID==currentUser.username && f.userIsOnline=='N'" src="resources/images/isOffline.png" height="10px" width="10px">
            			<img data-ng-if="f.userID==currentUser.username && f.friendisOnline=='N'" src="resources/images/isOffline.png" height="10px" width="10px">
            		</td>
            		
            		<td>
            			 <a data-ng-if="f.friendID==currentUser.username" href="#/Chat">{{f.userFName}} {{f.userLName}}</a>
            			 <a data-ng-if="f.userID==currentUser.username" href="#/Chat">{{f.friendFName}} {{f.friendLName}}</a>
            		</td>	
            	</tr>
            </table>
           	
            </li>
<!--             <li role="separator" class="divider"></li> -->
<!--             <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
	</ul>

      <ul class="nav navbar-nav navbar-left">
       	<li data-ng-show="currentUser.username">
				<a style="color: white" href="#/viewUsers"><span class="glyphicon glyphicon-user"></span>SEARCH USERS</a></li>
	 </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

.<hr><br>
</div>

<div id="mySidenav" class="sidenav" data-ng-show="currentUser.username">
  <a href="javascript:void(0)" class="closebtn" onClick="closeNav()">&times;</a>
  <a href="#/myProfile"><img data-ng-src="resources/images/{{currentUser.username}}.jpg" onerror="this.src='resources/images/adminpic.png'" class="img-circle" height="100" width="100"></a>
  <a data-ng-if="currentUser.role=='ADMIN'" href="#/manageUsers">MANAGE USERS</a>
  <a data-ng-if="currentUser.role=='ADMIN'" href="#/manageBlogs">MANAGE BLOGS</a>
  <a data-ng-if="currentUser.role=='ADMIN'" href="#/manageForums">MANAGE FORUMS</a>
  <a data-ng-if="currentUser.role=='ADMIN'" href="#/manageJobs">MANAGE JOBS</a>
  <a data-ng-if="currentUser.role=='ADMIN'" href="#/manageEvents">MANAGE EVENTS</a>
  <a data-ng-if="currentUser.role!='ADMIN'" href="#/viewBlogs">BLOGS</a>
  <a data-ng-if="currentUser.role!='ADMIN'" href="#/viewForums">FORUMS</a>
  <a data-ng-if="currentUser.role!='ADMIN'" href="#/viewJobs">JOB HUNT</a>
  <a data-ng-if="currentUser.role!='ADMIN'" href="#/viewEvents">EVENTS</a>
</div>


<div data-ng-view></div>

    </div>
    <script src="./resources/js/angular.min.js"></script>
    <script src="./resources/js/angular-route.js"></script>
	<script src="./resources/js/angular-cookies.js"></script>
	<script src="./resources/js/angular-cookies.min.js"></script>
	<script src="./app.js"></script>
<script src="./resources/js/jquery.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
    <script src="./resources/js/sockjs.min.js"></script>
<script src="./resources/js/stomp.min.js"></script>

<script src="./c_user/UserService.js"></script>
<script src="./c_user/UserListController.js"></script>
<script src="./c_admin/AdminService.js"></script>
<script src="./c_admin/AdminController.js"></script>
<script src="./c_blog/BlogController.js"></script>
<script src="./c_blog/BlogService.js"></script>
<script src="./c_job/JobController.js"></script>
<script src="./c_job/JobService.js"></script>
<script src="./c_event/EventController.js"></script>
<script src="./c_event/EventService.js"></script>
<script src="./c_forum/ForumController.js"></script>
<script src="./c_forum/ForumService.js"></script>
<script src="./c_friend/FriendController.js"></script>
<script src="./c_friend/FriendService.js"></script>
<script src="./c_admin/AdminController.js"></script>
<script src="./c_admin/AdminService.js"></script>



<script src="./c_chat/ChatController.js"></script>
<script src="./c_chat/ChatService.js"></script>

<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

</script>
<script type="text/javascript">
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</body>
</html>