

<style type="text/css">
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
/* Style the tab */
div.tab {
    overflow: hidden;
   /*  border: 1px solid #ccc; */
    background-color:#81D6DE;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #1086B9;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #1086B9;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>

<div style="background-color: ;padding-left: 20%;padding-top: 2%;padding-right: 5%">
		
		
		
  <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">MANAGE EVENTS</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">CREATE NEW EVENT</button>
 
  
</div>

<div id="London" class="tabcontent">

  <div  data-ng-controller="AdminController as aCtrl">
		<div class="row" data-ng-repeat="e in events">
			<div class="col-sm-12">
				<table class="table" style="box-shadow: 5px 5px 5px black;">
					<tr>
						<td><h4>{{e.name}}</h4></td>
					</tr>
					<tr>
						<td colspan="2"><strong>Date:</strong> {{e.eventDate}}</td>
						<td><strong>Time:</strong> {{e.time}}</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2"><strong>Event Venue:</strong> {{e.venue}}</td>
						<td><strong>Posted at:</strong> {{e.postedTime}}</td>
					</tr>					
					<tr>
						<td colspan="3"><strong>Description:</strong> {{e.description}}</td>
					</tr>
					<tr>
						<td colspan="3"><p style="text-align: right"><a href="" class="btn btn-danger" data-ng-click="aCtrl.removeEvent(e.id)">Remove Event</a></p>
					</tr>
				</table>
			</div>
		
		</div>
	</div>
</div>

<div id="Paris" class="tabcontent">
<div class="row" data-ng-controller="EventController as ctrl">
	<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form role="form" data-ng-submit="ctrl.addEvents()">
					<table class="table table-hover" style="color:blue; box-shadow: 5px 5px 5px black;" >
						<tr>
							<th>Event Name</th>
							<td><input type="text" maxlength="255" placeholder="Event Title" required="required" data-ng-model="event.name"/></td>
						</tr>
						<tr>
							<th>Event Date</th>
							<td><input type="date" placeholder="DD/MM/YYYY" required="required" data-ng-model="event.date"/></td>
						</tr>
						<tr>
							<th>Event Time</th>
							<td><select data-ng-model='event.time' required="required">
			                        <option value="NIL">TIME</option>
			                        <option value="00:00">00:00</option>
			                        <option value="00:00">01:00</option>
			                        <option value="00:00">02:00</option>
			                        <option value="00:00">03:00</option>
			                        <option value="00:00">04:00</option>
			                        <option value="00:00">05:00</option>
			                        <option value="00:00">06:00</option>
			                        <option value="00:00">07:00</option>
			                        <option value="00:00">08:00</option>
			                        <option value="00:00">09:00</option>
			                        <option value="00:00">10:00</option>
			                        <option value="00:00">11:00</option>
			                        <option value="00:00">12:00</option>
			                        <option value="00:00">13:00</option>
			                        <option value="00:00">14:00</option>
			                        <option value="00:00">15:00</option>
			                        <option value="00:00">16:00</option>
			                        <option value="00:00">17:00</option>
			                        <option value="00:00">18:00</option>
			                        <option value="00:00">19:00</option>
			                        <option value="00:00">20:00</option>
			                        <option value="00:00">21:00</option>
			                        <option value="00:00">22:00</option>
			                        <option value="00:00">23:00</option>
                    		</select></td>
                    	</tr>
						<tr>
							<th>Event Venue</th>
							<td><input type="text" maxlength="200" placeholder="Event Location" required="required" data-ng-model="event.venue"/></td>
						</tr>
						<tr>
							<th>Description</th>
							<td><textarea rows="5" cols="50" placeholder="Event Description" required="required" data-ng-model="event.description"></textarea></td>
						</tr>
						<tr>
							<td><input type="submit" class="btn btn-success" value="Add Event &raquo;"/></td>
							<td><input type="reset" class="btn btn-danger" value="Reset Data"/></td>
						</tr>
					</table>
			</form>
		</div>
		<div class="col-sm-3"></div>
	</div>
	</div>
  




</div>
